$base-value: 16;
$prefix-for-webkit: true;
$prefix-for-mozilla: true;
$prefix-for-microsoft: true;
$prefix-for-opera: true;
$prefix-for-spec: true;

// Typography
$base-font-family: inherit;
$serif-font-family: inherit;
$heading-font-family: inherit;
$condensed-font-family: inherit;

//Weights
$weight-hairline: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;
$weight-semi-bold: 600;
$weight-extrabold: 700;
$weight-black: 800;

// Font Sizes

$base-font-size: 1rem;
$p-font: 1rem;
$p-lead-font: 1.25rem;

// Modular scale
// $modular-scale-ratio: $major-second;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

//uwm custom

$white: #ffffff;
$black: #252525;
$gray: #757575;
$dark-gray: #333;
$medium-gray: #eee;
$light-gray: #fafafa;
$lighter-gray: #d8d8d8;
$yellow: #FCE082;
$yellow-dark: #FCD450;
$uw-red: #96172E;
$primary-yellow-color: #FCE082;
$secondary-yellow-color: #FCD450;
$entry-bg-color: #e0e0e0;

//colors names
$uw-black: #252525;
$uw-gray: #757575;
$uw-gold: #FCD450;
$uw-white: #ffffff;

//colors for faculties
$faculty-color: #757575;
$uw-default: #923;
$uw-ahs: #009AA6;
$uw-arts: #E98300;
$uw-engineering: #57068C;
$uw-environment: #747800;
$uw-math: #E0249A;
$uw-science: #0073CF;
$uw-school: #96172E;
$uw-cgc: #C4262E;
$uw-ren: #D2C295;
$uw-stj: #C88A11;
$uw-stp: #727C2E;

// sotu colors for faculties
$sotu-teal: #007083;
$sotu-orange: #F26721;
$sotu-purple: #3D1865;
$sotu-green: #8D941E;
$sotu-fushia: #B9006D;
$sotu-blue: #0C489C;
$sotu-red: #9D053B;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $faculty-color;
$link-color: $uw-default;

//element colors
$base-background-color: $white;
$body-bg-color: $white;
$site-global-header-bg: $uw-black;
$site-global-footer-bg: $uw-black;
$site-header-bg: $medium-gray;
$site-footer-bg: $uw-black;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
