html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* nearly black */
/* pale yellow */
/* black */
/* black */
/* dark grey */
/* light grey */
/* blue; copied from library - not final */
/* arbitrary grey - not final */
/* arbitrary lighter grey - not final */
.blah {
  width: 30%;
  color: blue;
}
@media screen and (min-width: 63.1875rem) {
  .blah {
    width: 40%;
} }

.more {
  width: 100%;
}
@media screen and (min-width: 40.0625rem) {
  .more {
    width: 50%;
    color: yellow;
} }
