.outlet-location {
  clear: both;

  @include media($medium-screen) {
    text-align: left;
  }
}

.outlet-title {
  padding-top: 0.2em;
  text-align: center;

  @include media($large-screen) {
    text-align: left;
    padding-top: 3em;
  }
}

.outlet-title .field-content {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
}

.outlet-title {

  .views-field-title {

    .field-content {

      a {
        font-size: 1.4rem;
      }
    }
  }
}

.view-hours-of-operation {

  ul.exceptions_list {
    display: block;

    @include media($large-screen) {
      display: inline-block;
    }
  }

  .item-list > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* Requires !important as contrib module (office_hours) sets label width where we want auto */
  .oh-display-label {
    width: 12em !important;
  }

  ul.exceptions_list span {
    display: block;

    @include media ($large-screen) {
      display: table-cell;
      width: 13em;
      text-align: left;
    }
  }

  ul.exceptions_list li {
    text-align: center;
    padding-bottom: 0.5em;
  }

  hr {
    margin-top: 0;
  }

  .view-content .col-33 {
    width: 100%;

    @include media($large-screen) {
      width: 40%;
      margin-right: 5%;
    }

    .field-content {

      img {
        float: none;
        padding: 0;

        @include media($large-screen) {
          padding: 1.5em 0 0.5em 1em;
          margin: 0;
          float: right;
        }
      }
    }
  }

  .col-66 {
    width: 100%;

    @include media($large-screen) {
      width: 48%;
    }
  }
}

.hours-of-operation-disclaimer {
  white-space: pre-line;
  line-height: 20px;
  margin-top: 0;
}

.hours-of-operation-date {
  text-align: center;
  font-size: 18px;
}

.outlet-info.container {
  display: grid;
  grid-template-rows: 1em 33% 1em 33% 1em 33% 1em 33% 1em;
  grid-template-columns: 10% 80% 10%;
  background-color: #fff;

  @include media($large-screen) {
    grid-template-rows: 1em 50% 1em 50% 1em;
    grid-template-columns: 10% 35% 10% 35% 10%;
  }
}

.grid-hours {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 5;
  background-color: #eee;
}

.grid-contact {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  background-color: #fff;

  @include media($large-screen) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end:5;
  }
}

.grid-description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;

  p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13.6px;
  }

  @include media($large-screen) {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

.exceptions-display {
  width: 11.4em;
}

.center {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: left;
  padding-bottom: 1rem;
  letter-spacing: 0.05rem;
}

.col-66 .opening .views-field-field-opening-hours .field-content .oh-display .oh-display-label {
  @include media ($large-screen) {
    display: inline-block;
    width: 15em !important;
  }
}

.payment {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1.5em;

}

.field-content img {
  margin-top: 1em;
}

.field-name-field-payment-accepted {

  .field-items {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    display: none;
  }

  .field-item {
    padding: 0.2em;
  }
}

.franchise-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.franchise .field-content {
  font-family: Verdana, Geneva, sans-serif;
  font-size: .85rem;
}

.content_node hr {
  margin-top: 0;
}

.location-hours {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;

  ul.exceptions_list li {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.85rem;
    padding-bottom: .25em;
  }

  .oh-display-times {
    display: block;
  }

  .oh-display-closed {
    display: block;
  }

  h2 {
    text-align: center;
  }
}

.food-contact {
  display: block;
  width: 100%;
  text-align: center;
}

.outlet-description {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  background-color: #eee;
}

.outlet-description {

  p {
    margin-left: 1em;
    margin-right: 1em;
  }

  h2 {
    text-align: center;
  }
}

.franchise-menus-title {
  text-align: center;
}

.outlet-location .field-content {
  font-family: Verdana, Geneva, sans-serif;
  font-size: .85rem;
  text-align: center;

  @include media($medium-screen) {
    text-align: center;
  }

  @include media ($large-screen) {
    text-align: left;
    padding: 1em 0 1em;
    width: 110%;
  }
}

.opening {

  .views-field-field-opening-hours {
    padding: 0.5em 1em 0.5em;
  }

  .views-field-field-opening-hours .field-content {
    padding-left: 0;
    padding-top: .4em;
  }
}

.paragraphs-item-contact {

  .field-name-field-contact-phone {
    padding-bottom: 1em;
  }

  .field-item {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.85rem;
  }
}

.block-quicktabs h2 {
  background-color: #eee;
  text-align: center;
  margin: 0;
}

.field-name-field-contact-title .field-items .field-item {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.85rem;
}

.views-field-field-opening-hours {
  padding: 10px 0 18px;
  text-align: center;

  .oh-display {
    white-space: normal;
    padding-bottom: 0.5em;

    span[style] {
      width: 10em;
    }

    @include media ($large-screen) {
      text-align: left;
    }
  }
}

ul.exceptions_list {
  list-style: none;
  padding: 0 0 1em;

  li {
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }

  li.oh-display-closed-date span[style], ul.exceptions_list li.oh-display-change-hours span[style] {
    display: inline-block;
  }
}

.uw-site-content ul.exceptions_list {
  margin: 0;
  padding: 0 1em 0.5em;
}

.date-display-start {
  margin-right: 0;
}

.date-display-end {
  margin-left: 0;
}

.date-display-range {
  background: #fff;
}

h2[style] {
  border-bottom: 1px solid !important;
  border-color: #eee !important;
}

#block-views-b406431728008e3adc9067cbe178a6eb {

  .item-list ul {
    list-style: none;
    padding-left: 0;
  }

  .item-list ul li {
    margin: 0;
  }
}

.new-font, .oh-display-grouped, .exceptions_list {
  font-family: Verdana, Geneva, sans-serif;
  font-size: .85rem;
}

.views-field-field-hours-notice p, #block-views-b406431728008e3adc9067cbe178a6eb {
  margin-bottom: 1.5em;
}

.franchise-tabs {
  display: none;
}

.js .franchise-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;

  button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0.1em;
    max-width: initial;
  }

  button[aria-selected="true"] {
    border-bottom: .4rem solid #4e4e4e;
  }
}

.js #franchise-menus {

  .fm-tabcontent[aria-hidden="true"] {
    display: none;
  }
}

.franchise-menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  font-size: .85rem;
  text-align: center;
  flex-wrap: wrap;
}

.franchise-menu-list-item {
  flex: 1;
  margin: 0.5rem;
  min-width: 150px;
  border: 1px solid #e5e5e5;
}

.on-campus {
  display: grid;
  grid-template-columns: 100%;

  @include media ($medium-screen) {
    grid-template-columns: 50% 50%;
  }

  @include media ($large-screen) {
    grid-template-columns: 33% 33% 33%;
  }
}


.view .view-content .on-campus-outlet .field-content img {
  float: none;
  padding: 0;
}

#franchise-menus .franchise-menu-list .franchise-menu-list-item img {
  padding-top: 0.2em;
}

.view .view-content .on-campus {
  text-align: center;
}

.view-uw-campus-locations {

  .on-campus .on-campus-outlet {
    padding: 0 1em 0 1em;
  }

  #edit-submit-uw-campus-locations, #edit-reset {
    padding: 0.2em 1em;
    margin-top: 0.1em;
  }

  #edit-field-outlet-location-value {
    margin-top: 0.3em;
  }

  #edit-field-outlet-type-tid {
    margin-top: 0.4em;
    padding: 0.5em 0;
  }

  .on-campus .on-campus-outlet .outlet-description {
    border-top: 1px solid black;
    margin-top: 0.5em;
    padding-top: 0.8rem;
  }

  .outlet-description p {
    margin-top: 0.5em;
  }

  .on-campus-outlet .views-field-title .field-content a {
    font-size: 1.3rem;

  }

  .on-campus-outlet .multiple-locations hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

.on-campus-outlet {

  .outlet-location-heading {

    .field-content {
      font-size: 0.7rem;
    }
  }
}

.on-campus {

  .outlet-summary {

    .field-content {
      font-size: 0.9rem;
      font-style: oblique;
      border-top: 1px solid black;
      margin-top: 0.5em;
      padding-top: 0.8em;
    }
  }
}


body.org_default .locationsIcon a {
  color:#000000!important;

  &:hover, &:focus {
    color:#757575!important;
  }

  &:active, &:link {

    text-decoration: none;
  }

  span {
    &::before {
      font-size: 1.3rem;
    }
  }
}
ul.locationsIcon {
  padding-left: 0;
  margin-left: 0rem !important;
  margin-top: 1rem;
}

ul.locationsIcon > li {
  display: inline-flex;
  padding: 0 1em;
}


.outlet-info {
  clear: both;
  padding: 0em 0.5em 1em 0.5em;

  @include media($medium-screen) {
    text-align: center;
  }
}


.outlet-grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  @include media($large-screen) {
    grid-template-columns: 50% 50%;
  }

  .views-row-odd {
    grid-column: 1 / 2;
  }

  .views-row:nth-child(4n) {
    background-color: #eee;
  }

  .views-row:nth-child(4n+3) {
    background-color: #eee;
  }

  .views-row-even {
    grid-column: 1 / 2;


    @include media($large-screen) {
      background-color: initial;
      grid-column: 2 / 3;
    }
  }
}

//Food outlet / Franchise menu styling
.oh-display-grouped .oh-display {
  padding-bottom: 1em;
}

//Daily menu  content page styling
  .content .dm-menus .dm-menu-item img[typeof="foaf:Image"] {
    float: right;
    padding: 0;
    margin-left: 0.5rem;
  }

  .dm-location {
    color: #ffffff !important; /* !important needed to override header color in rwd.css. */
    background-color: $uw-black;
    width: max-content;
    padding: 0.1em 2em;
    border-bottom: 3px solid $uw_red;
  }

  .dm-menu-type {
    list-style: none;
    font-size: 18px;
    color: $uw-red !important; /* !important needed to override header color in rwd.css. */
  }

  .dm-menus {
    padding-left: 0;
    margin-left: 0 !important;
  }

  .dm-whole-outlet {
    padding-left: 0;
  }

  .dm-menu-item {
    font-size: 14.5px;
    list-style: none;
    border-bottom: 1px $uw-gray;
    border-style: none none dotted none;

    a:active, a:link {
      text-decoration: none;
    }
  }

  .dm-menu-item a:hover {
    text-decoration: underline;
  }

  .dm-footer-title {
    font-size: 17px;
    font-weight: bold;
  }

//Daily menu view styling
  .block-views h2 {
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 1rem;
    letter-spacing: normal;
  }

  .view-content .views-row .vocabulary-uw-fs-dietary-types h2:first-child a {
    text-decoration: none;
    pointer-events: none;
    cursor: not-allowed;
    color: $uw-black;
    font-size: 16px;
    font-family: "Typ1451-light", verdana, Sans-Serif;
    margin-left: 0.2rem;
  }

  .views-row .vocabulary-uw-fs-dietary-types h2 {
    display: inline;
  }
  .views-row .vocabulary-uw-fs-dietary-types .content {
     float: left;
  }


  .view .view-content .field-name-field-uw-fs-dietary-type-icon .field-items img[typeof="foaf:Image"] {
    padding: 0;
    float: left;
  }

  .view-uw-dm-dietary-types-legend .view-content .views-row {
    display: inline-block;
    margin-right: 1rem;
  }

  .view-uw-dm-dietary-types-legend .view-content {
    border-bottom: solid;
    border-bottom-width: thin;
  }

  //date change area
  .form-type-date-popup .fieldset-invisible > legend {
    display: none;
  }

  .views-exposed-widget .form-submit {
    margin-top: 1.6rem;
    padding: 0.4rem 1.5rem;
  }

  //below date change
  .node-inner h2 {
    margin-top: 1.7rem;
  }

  .view .view-content .node-uw-ct-daily-menu .dm-menu-item img[typeof="foaf:Image"] {
    float: right;
    padding: 0;
    margin-left: 0.5rem;
  }

  .view .view-content .node-uw-ct-daily-menu .node-inner h2:first-child a {
    text-decoration: none;
    pointer-events: none;
    cursor: not-allowed;
    color: $uw-black;
  }

// franchise menu (below food outlet)
  .franchise-menu[aria-hidden="true"] {
    display: none;
  }

  .uw-fm-logo {
    padding: .5em;
    text-align: center;
  }

  .view .view-content .uw-fm-logo img[typeof="foaf:Image"] {
    float: none;
    padding: 0;
  }

  .franchise ul {
    padding: 0;
  }

  .franchise .views-field:nth-child(n+2) {
    background-color: $light-gray;

  }

  .franchise .views-field:nth-child(2n) {
    background-color: $medium-gray;

  }

//combo items
  .views-field-field-combos .item-list {
    ul {
      margin: 0 auto;
      text-align: center;
    }
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0.5em 2.5em;
    }
  }

  .field-name-field-combo-image .field-items img[typeof="foaf:Image"] {
    float: none !important;
    padding-right: 0 !important;
  }

.field-name-field-combo-name .field-items .field-item.even {
  font-size: 15px;
  font-weight: bold;
}

.field-name-field-combo-options .field-items .field-item.even {
  font-style: italic;
}

.field-name-field-combo-other .field-items {
   .field-item.even {
     font-size: 12px;
     color: $uw-red;
   }
   .field-item.odd {
     font-size: 12px;
     color: $uw-red;
   }
   .field-item.odd::before, .field-item.even::before {
     content: '+ ';
   }
 }


.field-name-field-combo-calories .field-items .field-item.even {
  font-size: 12px;
  color: $uw-gray;
}

// individual items
  .views-field-field-individual-items .item-list {
    ul {
      margin: 0 auto;
      text-align: center;
      //background-color: $light-gray;
    }
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0.5em 2.5em;
    }
  }

  .field-name-field-individual-photo .field-items img[typeof="foaf:Image"] {
    float: none !important;
    padding-right: 0 !important;
  }

  .field-name-field-individual-name .field-items .field-item.even {
    font-size: 15px;
    font-weight: bold;
  }

  .field-name-field-individual-calories .field-items .field-item.even {
    font-size: 12px;
    color: $dark-gray;
  }

// add-ons
  .views-field-field-addons .item-list {
    ul {
      margin: 0 auto;
      text-align: center;
      //background-color: $medium-gray;
    }
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0.5em 2.5em;
    }
  }

  .field-name-field-addon-photo .field-items img[typeof="foaf:Image"] {
    float: none !important;
    padding-right: 0 !important;
  }

  .field-name-field-addon-name .field-items .field-item.even {
    font-size: 13px;
    font-weight: bold;
  }

  .field-name-field-addon-calories .field-items .field-item.even {
    font-size: 12px;
    color: $dark-gray;
  }
